@import url("../../other/css/SMPreview.bundle.css");

#text,
#text~.resize {
  display: none;
}

body.lock-scroll {
  overflow: hidden;
}

.cm-container {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 580px;
  background-color: #282c34;

  .cm-progress {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 4px;
    background-image: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    z-index: 520000;
    border-radius: 0 4px 4px 0;
  }

  .cm-autosave {
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 0;
      z-index: 520000;
      pointer-events: none;
      height: 3px;
      width: 0;
      transition: width 0.85s;
    }

    &::before {
      right: 50%;
      background: linear-gradient(to left, #4cd964, #5ac8fa, #007aff);
    }

    &::after {
      left: 50%;
      background: linear-gradient(to right, #4cd964, #5ac8fa, #007aff);
    }

    &.active {

      &::before,
      &::after {
        width: 50%;
      }
    }
  }

  .cm-menu {
    position: relative;
    background-color: rgb(33, 37, 43);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30px, 1fr));
    gap: 5px;
    padding: 5px;
    margin-bottom: 3px;

    .cm-menu-item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 5px;
      border-radius: 3px;
      transition: background-color 0.25s;
      -webkit-tap-highlight-color: transparent;

      .cm-menu-item-icon {
        fill: #9da5b4;
        transition: fill 0.25s;
      }

      .cm-menu-item-dropdown {
        position: absolute;
        top: 40px;
        left: 50%;
        z-index: 520000;
        background: #353B45;
        padding: 5px 0;
        border-radius: 4px;
        visibility: hidden;
        transform-origin: top;
        opacity: 0;
        transform: translateX(-50%) rotateX(-90deg);
        transition: visibility 0.25s, transform 0.25s, opacity 0.25s;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);

        .cm-menu-item-dropdown-content {
          display: flex;
          align-items: center;
          justify-content: center;
          white-space: nowrap;
          height: 32px;
          fill: #9da5b4;
          padding: 0 10px;
          user-select: none;
          color: #9da5b4;
          font-weight: 700;
          font-size: 15px;

          &:hover {
            background-color: #2C313A;
          }
        }

        &::before {
          content: "";
          position: absolute;
          top: -7px;
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 7px solid rgb(56, 59, 65);
        }
      }

      &:hover .cm-menu-item-icon {
        fill: rgba(255, 255, 255, 0.75);
      }

      &.active,
      &.expanded {
        background-color: #353B45;

        .cm-menu-item-icon {
          fill: rgba(255, 255, 255, 0.75);
        }
      }

      &.expanded {
        .cm-menu-item-dropdown {
          visibility: visible;
          opacity: 1;
          transform: translateX(-50%) rotateX(0);
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 6px;
      bottom: -6px;
      z-index: 510000;
      box-shadow: #000 0 6px 6px -6px inset;
      pointer-events: none;
    }
  }

  .cm-preview {
    display: none;
    flex: 1;
    min-height: 0;
    overflow-y: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe WPC", "Segoe UI", system-ui, "Ubuntu", "Droid Sans", sans-serif;
    font-size: 15px;
    word-wrap: break-word;
    font-feature-settings: "liga"0, "calt"0;
    overscroll-behavior: none;
    color: #abb2bf;
    padding: 15px;
    line-height: 1.5;

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: normal;
      margin-bottom: 15px;
    }

    h1 {
      font-size: 28px;
    }

    h2 {
      font-size: 26px;
    }

    h3 {
      font-size: 24px;
    }

    h4 {
      font-size: 22px;
    }

    h5 {
      font-size: 20px;
    }

    h6 {
      font-size: 18px;
    }

    p {
      margin-bottom: 15px;
    }

    hr {
      height: 2px;
      border: none;
      margin-bottom: 15px;
      background-color: rgba(255, 255, 255, 0.18);
    }

    a {
      color: #3794ff;
      text-underline-position: under;
    }

    img:not([class]) {
      max-width: 100%;
      max-height: 100%;
    }

    ol,
    ul {
      padding-left: 40px;
      margin-bottom: 15px;
    }

    table {
      margin-bottom: 15px;
    }

    blockquote {
      padding: 15px;
      margin-bottom: 15px;
      background-color: #2e3440;
      border-left: 5px solid rgba(0, 122, 204, 0.5);
      border-radius: 0 4px 4px 0;
    }

    pre[class*="language-"] {
      position: relative;
      margin-bottom: 15px;
      padding: 30px 0 0;
      border-radius: 4px;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        top: 9px;
        left: 15px;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        background: #fc625d;
        box-shadow: 20px 0 #fdbc40, 40px 0 #35cd4b;
        z-index: 1;
      }

      code[class*='language-'] {
        display: block;
        overflow: auto;
        padding: 0 15px 12px;
        max-height: 350px;

        &::-webkit-scrollbar-corner {
          background: transparent;
        }

        &::-webkit-scrollbar {
          width: 8px;
          height: 8px;
        }

        &::-webkit-scrollbar-thumb {
          background-color: rgba(78, 86, 102, 0.5);
          border-radius: 4px;

          &:hover {
            background-color: rgba(90, 99, 117, 0.5);
          }

          &:active {
            background-color: rgba(116, 125, 145, 0.5);
          }
        }
      }
    }

    &::-webkit-scrollbar {
      width: 14px;
      border-left: 1px solid #404349;
    }

    &::-webkit-scrollbar-thumb {
      background-color: rgba(78, 86, 102, 0.5);

      &:hover {
        background-color: rgba(90, 99, 117, 0.5);
      }

      &:active {
        background-color: rgba(116, 125, 145, 0.5);
      }
    }
  }

  .cm-editor {
    flex: 1;
    min-height: 0;
    font-size: 18px;

    .cm-scroller {
      font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
      font-feature-settings: "liga"0, "calt"0;
      overscroll-behavior: none;

      // 折叠装订线
      .cm-gutters {
        background-color: #282c34;
        border-right: none;
        color: #636d83;
        user-select: none;

        .cm-activeLineGutter {
          color: #abb2bf;
          background-color: transparent;
        }

        .cm-lineNumbers {
          .cm-gutterElement {
            padding: 0 15px;
          }
        }
      }

      .cm-content {
        color: #abb2bf;
        caret-color: #528bff;
        padding: 0;

        .cm-line {
          padding: 0;

          // 选中匹配文本
          .cm-selectionMatch {
            background-color: rgba(87, 87, 87, 0.72);
          }

          // 匹配到括号
          .cm-matchingBracket {
            color: #abb2bf;
            background-color: rgba(0, 100, 0, 0.1);
            border: 1px solid #888;
            margin: -1px;
            box-sizing: border-box;
          }

          // 未匹配到括号
          .cm-nonmatchingBracket {
            color: rgba(255, 18, 18, 0.8);
          }

          // markdown - 标题
          .cmt-heading {
            color: #e06c75;
          }

          // markdown - 加粗
          .cmt-strong {
            color: #d19a66;
            font-weight: bold;
          }

          // markdown - 倾斜
          .cmt-emphasis {
            color: #c678dd;
            font-style: italic;
          }

          // markdown - 链接名称
          .cmt-link {
            color: #61afef;
          }

          // markdown - 链接
          .cmt-url {
            color: #c678dd;
            text-decoration: underline;
            text-underline-position: under;
          }

          // 类型名称
          .cmt-typeName {
            color: #E06C75;
          }

          // 注释
          .cmt-comment {
            color: #5C6370;
            font-style: italic;
          }

          // 属性或字段名称
          .cmt-propertyName {
            color: #D19A66;
          }

          // 字符串文字
          .cmt-string {
            color: #98C379;
          }

          // 语言关键字
          .cmt-keyword {
            color: #C678DD;
          }

          // 数字文字
          .cmt-number {
            color: #D19A66;
          }

          // 当前高亮行
          &.cm-activeLine {
            background-color: #2c313c;
          }
        }
      }

      // 选择文本
      .cm-selectionLayer {
        .cm-selectionBackground {
          background: #3e4451;
        }
      }

      // 光标
      .cm-cursorLayer {
        .cm-cursor {
          border-left: 2px solid #528bff;
          margin-left: 0;
          box-sizing: border-box;
          border-radius: 1px;
        }
      }

      &::-webkit-scrollbar {
        width: 14px;
        border-left: 1px solid #404349;
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(78, 86, 102, 0.5);

        &:hover {
          background-color: rgba(90, 99, 117, 0.5);
        }

        &:active {
          background-color: rgba(116, 125, 145, 0.5);
        }
      }
    }

    &.cm-focused {
      outline: none;
    }

    &.hidden {
      display: none !important;
    }
  }

  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 520999;
  }
}

.cm-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5201314;
  background-color: rgba(0, 0, 0, 0);
  visibility: hidden;
  transition: background-color 0.25s, visibility 0.25s;
  will-change: background-color, visibility;

  &__wrapper {
    width: 380px;
    background: #fff;
    color: #606266;
    border-radius: 4px;
    opacity: 0;
    transform: translateY(-30%);
    transition: opacity 0.25s, transform 0.25s;

    &-head {
      padding: 10px 20px;
      border-bottom: 1px solid #e4e7ed;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &--close {
        font-size: 20px;
        cursor: pointer;
      }
    }

    &-body {
      padding: 20px;

      .fitem {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }

        label {
          position: relative;
          margin-right: 10px;
        }

        &.required label::before {
          content: "*";
          position: absolute;
          top: 0;
          left: -8px;
          color: #F56C6C;
        }

        input[type="text"],
        input[type="color"],
        select,
        textarea {
          width: auto;
          flex: 1;
          -webkit-appearance: none;
          outline: none;
          border: 1px solid #dcdfe6;
          height: 34px;
          box-sizing: border-box;
          padding: 0 10px;
          border-radius: 3px;
          color: #606266;
        }

        input[type="color"] {
          flex: none;
          width: 80px;
          padding: 0 3px;
        }

        textarea {
          height: 80px;
          padding: 5px;
        }
      }

      .menu_head {
        width: 100%;
        overflow-x: auto;
        display: flex;
        margin-bottom: 20px;

        &__item {
          white-space: nowrap;
          margin-right: 15px;
          cursor: pointer;
          user-select: none;

          &:last-child {
            margin-right: 0;
          }

          &.active {
            color: #409eff;
          }
        }

        &::-webkit-scrollbar {
          display: none;
        }
      }

      .menu_content {
        display: none;
        grid-template-columns: repeat(6, 1fr);
        font-size: 18px;
        border-left: 1px solid #e4e7ed;
        border-top: 1px solid #e4e7ed;
        max-height: 320px;
        overflow-y: auto;
        overscroll-behavior: none;

        &[data-type="emoji"] {
          font-family: "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Segoe UI Symbol", "Android Emoji", EmojiSymbols;
        }

        &__item {
          display: flex;
          align-items: center;
          justify-content: center;
          border-right: 1px solid #e4e7ed;
          border-bottom: 1px solid #e4e7ed;
          cursor: pointer;
          transition: background-color 0.25s;
          user-select: none;
          color: #888;
          padding: 5px 0;
          min-height: 35px;
          box-sizing: border-box;

          .emotion {
            max-width: 70%;
          }

          &:hover {
            background: #e4e7ed;
          }
        }

        &.active {
          display: grid;
        }

        &::-webkit-scrollbar-track {
          background: #fff;
        }

        &::-webkit-scrollbar {
          width: 6px;
          height: 6px;
        }

        &::-webkit-scrollbar-thumb {
          border-radius: 3px;
          background: #c0c4cc;
        }
      }

      .upload {
        &_dragger {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          height: 120px;
          border: 1px dashed #d9d9d9;
          border-radius: 8px;
          margin-bottom: 15px;

          &__icon {
            width: 40px;
            height: 40px;
            background-image: url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTI4IiBoZWlnaHQ9IjEyOCI+PHBhdGggZD0iTTM4MS4zMzc5OTk5OTk5OTk5NyA1ODMuODg1YTI4MS40NDYgMjgxLjQ0NiAwIDEgMCA1NjIuODkyIDAgMjgxLjQ0NiAyODEuNDQ2IDAgMSAwLTU2Mi44OTIgMHoiIGZpbGw9IiNBMEI4RUEiLz48cGF0aCBkPSJNODAwLjYxNCA4MzkuODM0aC05OS40M2MtMTYuOTQ3IDAtMzAuNzItMTMuNzczLTMwLjcyLTMwLjcyczEzLjc3My0zMC43MiAzMC43Mi0zMC43Mmg5OS40M2M3Ny4yMSAwIDE0MC4wMzItNjIuODIzIDE0MC4wMzItMTQwLjAzMlM4NzcuODI0IDQ5OC4zMyA4MDAuNjE0IDQ5OC4zM2gtNS4wMTdjLTE2Ljc0MyAwLTMwLjQxMy0xMy40MTUtMzAuNzItMzAuMTU3LTIuNTYtMTM1LjYyOS0xMTQuOTk1LTI0NS45NjUtMjUwLjYyNC0yNDUuOTY1UzI2Ni4yNCAzMzIuNTk1IDI2My42OCA0NjguMjI0YTMwLjczIDMwLjczIDAgMCAxLTMwLjcyIDMwLjE1N2gtNS4wMThjLTc3LjIxIDAtMTQwLjAzMiA2Mi44MjItMTQwLjAzMiAxNDAuMDMyczYyLjgyMyAxNDAuMDMyIDE0MC4wMzIgMTQwLjAzMmg5MC44M2MxNi45NDYgMCAzMC43MiAxMy43NzMgMzAuNzIgMzAuNzJzLTEzLjc3NCAzMC43Mi0zMC43MiAzMC43MmgtOTAuODNjLTExMS4xMDQgMC0yMDEuNDcyLTkwLjM2OC0yMDEuNDcyLTIwMS40NzIgMC0xMDMuMDE1IDc3LjcyMi0xODguMjExIDE3Ny42MTMtMjAwLjA5IDcuODM0LTcxLjIxOSAzOS43MzEtMTM3LjE2NSA5MS40NDMtMTg4LjAwNiA1OC43MjctNTcuNzAzIDEzNi4zOTctODkuNDk4IDIxOC43MjctODkuNDk4czE2MCAzMS43OTUgMjE4LjcyNiA4OS40OThjNTEuNzEyIDUwLjg0MSA4My42MSAxMTYuNzg3IDkxLjQ0MyAxODguMDA2IDk5Ljg5MiAxMS44MjcgMTc3LjYxMyA5Ny4wMjQgMTc3LjYxMyAyMDAuMDkuMDUxIDExMS4wNTMtOTAuMzE3IDIwMS40Mi0yMDEuNDIgMjAxLjQyeiIgZmlsbD0iIzRGNEY0RiIvPjxwYXRoIGQ9Ik02NDUuMDY5IDYzNC45MzFsLTEwOS4yMS0xMDcuOThhMzAuNzY2IDMwLjc2NiAwIDAgMC00My4yNjQuMDVMMzgzLjg0NiA2MzQuOTgzYTMwLjczIDMwLjczIDAgMSAwIDQzLjMxNiA0My42MjNsNTYuNjI3LTU2LjIxOHYyMzEuMTY4YzAgMTYuOTQ3IDEzLjc3MyAzMC43MiAzMC43MiAzMC43MnMzMC43Mi0xMy43NzMgMzAuNzItMzAuNzJWNjIyLjY0M2w1Ni42NzggNTYuMDEzYTMwLjczIDMwLjczIDAgMCAwIDQzLjQ2OS0uMjU2IDMwLjc4MSAzMC43ODEgMCAwIDAtLjMwNy00My40Njl6IiBmaWxsPSIjNEY0RjRGIi8+PC9zdmc+);
            background-size: 100% 100%;
            margin-bottom: 5px;
          }

          &__text {
            font-size: 14px;
            color: #666;
          }

          &__input {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            opacity: 0;
            width: 100%;
            height: 100%;
            cursor: pointer;
          }

          &.drop {
            border: 2px dashed #409EFF;
          }

          &:hover {
            border-color: #A0B8EA;
          }

        }

        &_list {
          max-height: 200px;
          overflow-y: auto;

          &__item {
            display: flex;
            align-items: center;
            margin: 0 5px 5px 0;
            padding-bottom: 5px;
            border-bottom: 1px dashed #DCDFE6;

            &--icon {
              width: 22px;
              height: 22px;
              background-image: url(data:image/svg+xml;base64,PHN2ZyBjbGFzcz0iaWNvbiIgdmlld0JveD0iMCAwIDEwMjQgMTAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMjAiIGhlaWdodD0iMjAiPjxwYXRoIGQ9Ik05MjAuODk2IDQ3OS43NDRoLTczLjk4NFYzMzkuNzEyYzAtMzUuNjQ4LTI4Ljg2NC02NC41MTItNjQuNTEyLTY0LjUxMmgtMzI4Yy0yMC4xNiAwLTM2LjQ4LTE2LjMyLTM2LjQ4LTM2LjQxNnYuNTEyYzAtMzUuNjQ4LTI4Ljg2NC02NC41MTItNjQuNTEyLTY0LjUxMkgxMjIuODE2Yy0zNS42NDggMC02NC41MTIgMjguODY0LTY0LjUxMiA2NC41MTJ2NTQ1LjQ3MmMwIDM1LjY0OCAyOC44NjQgNjQuNTEyIDY0LjUxMiA2NC41MTJoNjYwLjQxNmMzNS42NDggMCA3NS4zMjgtMjguOTI4IDg4LjU3Ni02NC41MTJsODkuNTM2LTI0MC40NDhjMTMuMzEyLTM1LjcxMi00LjgtNjQuNTc2LTQwLjQ0OC02NC41NzZ6TTM1MS4yMzIgMjQxLjQ3MmMxLjQ3MiA1NS42MTYgNDcuMTY4IDEwMC40MTYgMTAzLjEwNCAxMDAuNDE2SDc4MC4xNlY0NzkuNjhIMjYwLjQ4Yy0zNS42NDggMC03NS4zMjggMjguOTI4LTg4LjU3NiA2NC41MTJMMTI0Ljk5MiA2NzAuMDhWMjQxLjQ3MmgyMjYuMjR6IiBmaWxsPSIjNTE1MTUxIi8+PC9zdmc+);
              background-size: 100% 100%;
              background-repeat: no-repeat;
            }

            &--text {
              flex: 1;
              font-size: 14px;
              color: #606266;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              margin: 0 5px;
            }

            &--speed {
              color: #909399;
              font-size: 12px;

              &.successful {
                color: #67C23A;
              }

              &.fail {
                color: #F56C6C;
              }
            }

            &:last-child {
              margin-bottom: 0;
            }
          }

          &::-webkit-scrollbar {
            width: 5px;
            height: 5px;
          }

          &::-webkit-scrollbar-thumb {
            border-radius: 2.5px;
            background: #c0c4cc;
          }

          &::-webkit-scrollbar-track {
            background: #fff;
          }
        }
      }
    }

    &-foot {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 0 20px 10px;

      &--cancle,
      &--confirm {
        cursor: pointer;
        border: none;
        outline: none;
        margin-left: 5px;
        background: #fff;
        color: #606266;
        -webkit-appearance: none;
        padding: 7px 15px;
        border-radius: 3px;
      }

      &--confirm {
        color: #fff;
        background: #409eff;
      }
    }
  }

  &.active {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.75);

    .cm-modal__wrapper {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  .cm-modal__wrapper {
    width: 90%;
  }
}